.container-fluid .weather-app {
  max-width: 1100px;
  background-color: #ada6d2;
  opacity: 0.7;
  padding: 20px 20px;
  position: static;
  border-radius: 20px;
  margin: 20px auto;
}

h6 {
  font-family: "Castoro", serif;
  color: #134124;
  font-weight: bold;
  text-align: right;
  font-size: 20px;
  right: 250px;
  bottom: 30px;
}

form {
  top: 20px;
  padding: 20px;
  font-weight: 50px;
}

h1 {
  display: block;
  margin: 0;
  color: #2f2e41;
  font-family: "Castoro", serif;
  font-weight: bold;
  opacity: 1;
  top: 65px;
  padding: 20px;
  font-size: 50px;
  text-shadow: 2px 2px 2px black;
}

li {
  list-style: none;
}

h3 {
  display: block;
  margin: 0;
  text-align: left;
  opacity: 1;
  color: #134124;
  font-size: 150px;
  top: 100px;
  left: 550px;
  text-shadow: 2px 2px 2px black;
}

.humidity {
  display: block;
  color: #134124;
  text-align: right;
  margin: 20px;
  padding: 80px auto;
  font-size: 45px;
  bottom: 30px;
  font-family: "Castoro", serif;
  font-weight: 900px;
  opacity: 1;
  top: 20px;
  left: 800px;
  text-shadow: 2px 2px 2px black;
}

.wind {
  display: block;
  margin: 0;
  color: #134124;
  text-align: right;
  margin: 20px;
  padding: 80px auto;
  font-size: 45px;
  bottom: 30px;
  font-family: "Castoro", serif;
  font-weight: 900px;
  opacity: 1;
  top: 70px;
  left: 800px;
  text-shadow: 2px 2px 2px black;
}

.description {
  display: block;
  margin: 0;
  color: #2f2e41;
  text-align: right;
  margin: 20px;
  padding: 80px auto;
  font-size: 55px;
  bottom: 30px;
  font-family: "Castoro", serif;
  font-weight: 150px;
  opacity: 1;
  top: 120px;
  left: 700px;
  text-transform: capitalize;
  text-shadow: 2px 2px 2px black;
}

p {
  display: block;
  margin: 0;
  font-family: "Anton", sans-serif;
  font-family: "Castoro", serif;
  font-weight: 900px;
  font-size: 35px;
  text-align: center;
  margin: 20px auto;
  color: white;
  padding: 20px auto;
}

h4 {
  color: #134124;
  font-family: "Castoro", serif;
  left: 160px;
  bottom: 5px;
  padding: 30px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px 2px 2px black;
}

.time {
  display: block;
  margin: 0;
  color: white;
  font-family: "Castoro", serif;
  font-size: 30px;
  opacity: 1;
  top: 150px;
  left: 490px;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}

.date {
  display: block;
  margin: 0;
  color: white;
  font-family: "Castoro", serif;
  font-size: 30px;
  opacity: 1;
  top: 150px;
  left: 165px;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}
.temperature {
  display: block;
  margin: 0;
  text-align: center;
  color: #134124;
  font-size: 85px;
  font-family: "Castoro", serif;
  font-weight: bold;
  opacity: 1;
  top: 10px;
  left: 480px;
  text-shadow: 2px 2px 2px black;
}

.units {
  display: block;
  margin: 0;
  text-align: center;
  color: #134124;
  font-size: 50px;
  font-family: "Castoro", serif;
  font-weight: bold;
  opacity: 1;
  top: 20px;
  left: 575px;
  text-shadow: 2px 2px 2px black;
  text-decoration: none;
}

.container span button {
  display: block;
  margin: 0;
  text-align: left;
  font-family: "Anton", sans-serif;
  font-family: "Castoro", serif;
  top: 210px;
  left: 165px;
  font-size: 23px;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}

li i .day-sun {
  font-size: 25px;
  color: black;
  font-family: "Castoro", serif;
  text-align: right;
  margin: 20px;
  padding: 80px auto;
  text-shadow: 2px 2px 2px #2f2e41;
  font-weight: 900px;
  opacity: 1;
  top: 250px;
  left: 750px;
}

li i .temp.low {
  font-size: 25px;
  color: black;
  font-family: "Castoro", serif;
  text-align: right;
  margin: 20px;
  padding: 80px auto;
  text-shadow: 2px 2px 2px #2f2e41;
  font-weight: 900px;
  opacity: 1;
  top: 300px;
  left: 750px;
}

li i .temp.high {
  font-size: 25px;
  color: black;
  font-family: "Castoro", serif;
  text-align: right;
  margin: 20px;
  padding: 80px auto;
  text-shadow: 2px 2px 2px #2f2e41;
  font-weight: 900px;
  opacity: 1;
  top: 350px;
  left: 750px;
}
.feels-like {
  font-size: 25px;
  color: black;
  font-family: "Castoro", serif;
  text-align: right;
  margin: 20px;
  padding: 80px auto;
  text-shadow: 2px 2px 2px #2f2e41;
  font-weight: 900px;
  opacity: 1;
  top: 250px;
  left: 800px;
}
.temp-min {
  font-size: 25px;
  color: black;
  font-family: "Castoro", serif;
  text-align: right;
  margin: 20px;
  padding: 80px auto;
  text-shadow: 2px 2px 2px #2f2e41;
  font-weight: 900px;
  opacity: 1;
  top: 300px;
  left: 800px;
}
.temp-max {
  font-size: 25px;
  color: black;
  font-family: "Castoro", serif;
  text-align: right;
  margin: 20px;
  padding: 80px auto;
  text-shadow: 2px 2px 2px #2f2e41;
  font-weight: 900px;
  opacity: 1;
  top: 350px;
  left: 800px;
}
.weather-app .active {
  color: #2f2e41;
  text-shadow: 2px 2px 2px black;
  cursor: default;
}

.weather-app a {
  color: white;
  text-decoration: none;
}
