.container-fluid .weather-app {
  max-width: 1200px;
  background-color: #add8e6;
  opacity: 0.7;
  padding: 20px 20px;
  position: static;
  border-radius: 20px;
  margin: 20px auto;
}

img {
  max-width: 275px;
}

footer {
  font-family: "Castoro", serif;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  position: static;
}

form {
  top: 20px;
  padding: 20px;
  font-weight: 50px;
  position: static;
}

h1 {
  display: block;
  margin: 0;
  text-align: left;
  color: black;
  font-family: "Castoro", serif;
  font-weight: bold;
  opacity: 1;
  padding: 20px;
  font-size: 50px;
  position: static;
  text-shadow: 2px 2px 2px black;
}

h3 {
  display: block;
  margin: 0;
  text-align: center;
  opacity: 1;
  color: yellow;
  font-size: 120px;
  position: static;
  text-shadow: 2px 2px 2px black;
}

li {
  list-style: none;
}

.humidity {
  display: block;
  text-align: right;
  color: white;
  margin: 10px;
  font-size: 35px;
  bottom: 30px;
  font-family: "Castoro", serif;
  opacity: 1;
  position: static;
  border: none;
  text-shadow: 2px 2px 2px black;
}

.wind {
  display: block;
  margin: 0;
  text-align: right;
  color: white;
  margin: 10px;
  font-size: 35px;
  bottom: 30px;
  font-family: "Castoro", serif;
  opacity: 1;
  position: static;
  border: none;
  text-shadow: 2px 2px 2px black;
}

.description {
  display: block;
  margin: 0;
  color: rgb(34, 23, 34);
  text-align: right;
  margin: 20px;
  font-size: 50px;
  bottom: 30px;
  font-family: "Castoro", serif;
  opacity: 1;
  text-transform: capitalize;
  position: static;
  border: none;
  text-shadow: 2px 2px 2px white;
}

p {
  display: block;
  margin: 0;
  font-family: "Anton", sans-serif;
  font-family: "Castoro", serif;
  font-weight: 900px;
  font-size: 35px;
  text-align: center;
  margin: 20px auto;
  color: white;
  padding: 20px auto;
  position: static;
}

h4 {
  color: black;
  font-family: "Castoro", serif;
  left: 160px;
  bottom: 5px;
  padding: 30px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px 2px white;
  position: static;
}

.time {
  display: block;
  margin: 0;
  color: rgb(34, 23, 34);
  font-family: "Castoro", serif;
  font-size: 30px;
  opacity: 1;
  top: 150px;
  left: 490px;
  font-weight: bold;
  position: static;
  text-shadow: 2px 2px 2px white;
}

.date {
  display: block;
  margin: 0;
  color: rgb(34, 23, 34);
  font-family: "Castoro", serif;
  font-size: 30px;
  opacity: 1;
  top: 150px;
  left: 165px;
  font-weight: bold;
  position: static;
  text-shadow: 2px 2px 2px white;
}

.temperature {
  display: block;
  margin: 0;
  text-align: center;
  color: black;
  font-size: 85px;
  font-family: "Castoro", serif;
  font-weight: bold;
  opacity: 1;
  position: static;
  text-shadow: 2px 2px 2px black;
}

.units {
  display: block;
  margin: 0;
  text-align: center;
  color: black;
  font-size: 55px;
  font-family: "Castoro", serif;
  font-weight: bold;
  opacity: 1;
  position: static;
  text-shadow: 2px 2px 2px black;
}

.container span button {
  display: block;
  margin: 0;
  font-family: "Anton", sans-serif;
  font-family: "Castoro", serif;
  top: 210px;
  left: 200px;
  font-size: 23px;
  font-weight: bold;
  color: white;
  position: static;
  text-shadow: 2px 2px 2px black;
}

li i .day-sun {
  font-size: 25px;
  color: white;
  font-family: "Castoro", serif;
  text-align: right;
  margin: 10px;
  text-shadow: 2px 2px 2px black;
  opacity: 1;
  position: static;
}

li i .temp.low {
  font-size: 25px;
  color: white;
  font-family: "Castoro", serif;
  text-align: right;
  margin: 10px;
  text-shadow: 2px 2px 2px black;
  opacity: 1;
  position: static;
}

li i .temp.high {
  font-size: 25px;
  color: white;
  font-family: "Castoro", serif;
  text-align: right;
  margin: 10px;
  text-shadow: 2px 2px 2px black;
  opacity: 1;
  position: static;
}
.feels-like {
  font-size: 25px;
  color: white;
  font-family: "Castoro", serif;
  text-align: right;
  margin: 10px;
  text-shadow: 2px 2px 2px black;
  opacity: 1;
  position: static;
  border: none;
}
.temp-min {
  font-size: 25px;
  color: white;
  font-family: "Castoro", serif;
  text-align: right;
  margin: 10px;
  text-shadow: 2px 2px 2px black;
  opacity: 1;
  position: static;
  border: none;
}
.temp-max {
  font-size: 25px;
  color: white;
  font-family: "Castoro", serif;
  text-align: right;
  margin: 10px;
  text-shadow: 2px 2px 2px black;
  opacity: 1;
  position: static;
  border: none;
}

.weather-app .active {
  color: white;
  text-shadow: 2px 2px 2px black;
  cursor: default;
}

.weather-app a {
  color: black;
  text-shadow: 2px 2px 2px black;
  text-decoration: none;
}
