img {
  size: 500px;
  border-radius: 30px;
}

.weather-app {
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  top: 30px;
  opacity: 1px;
}

.night {
  top: 30px;
  opacity: 1;
}

h6 {
  font-family: "Castoro", serif;
  color: blueviolet;
  font-weight: bold;
  text-align: right;
  font-size: 20px;
  right: 150px;
  bottom: 30px;
  position: fixed;
}

form {
  position: fixed;
  top: 20px;
  padding: 20px;
  font-weight: 50px;
}

h1 {
  display: block;
  margin: 0;
  color: blueviolet;
  font-family: "Castoro", serif;
  font-weight: bold;
  opacity: 1;
  position: fixed;
  top: 65px;
  padding: 20px;
  font-size: 50px;
}

.humidity {
  display: block;
  text-align: right;
  color: white;
  margin: 20px;
  padding: 80px auto;
  font-size: 45px;
  bottom: 30px;
  font-family: "Castoro", serif;
  font-weight: 800px;
  opacity: 1;
  top: 20px;
  position: fixed;
  left: 800px;
}

.wind {
  display: block;
  margin: 0;
  text-align: right;
  color: white;
  margin: 20px;
  padding: 80px auto;
  font-size: 45px;
  bottom: 30px;
  font-family: "Castoro", serif;
  font-weight: 800px;
  opacity: 1;
  top: 70px;
  position: fixed;
  left: 800px;
}

.description {
  display: block;
  margin: 0;
  color: blueviolet;
  text-align: right;
  margin: 20px;
  padding: 80px auto;
  font-size: 55px;
  bottom: 30px;
  font-family: "Castoro", serif;
  font-weight: 150px;
  opacity: 1;
  top: 160px;
  position: fixed;
  left: 650px;
  text-transform: capitalize;
}

p {
  display: block;
  margin: 0;
  font-family: "Anton", sans-serif;
  font-family: "Castoro", serif;
  font-weight: 900px;
  font-size: 35px;
  text-align: center;
  margin: 20px auto;
  color: white;
  padding: 20px auto;
}

h4 {
  color: black;
  font-family: "Castoro", serif;
  position: fixed;
  left: 160px;
  bottom: 5px;
  padding: 30px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

li {
  display: block;
  margin: 0;
  color: white;
  font-family: "Castoro", serif;
  position: fixed;
  font-size: 40px;
  opacity: 1;
  top: 150px;
  left: 165px;
  font-weight: bold;
}

.temperature {
  display: block;
  margin: 0;
  text-align: center;
  color: blueviolet;
  font-size: 85px;
  font-family: "Castoro", serif;
  font-weight: bold;
  opacity: 1;
  top: 20px;
  left: 460px;
  position: fixed;
}

.units {
  display: block;
  margin: 0;
  text-align: center;
  color: black;
  font-size: 75px;
  font-family: "Castoro", serif;
  font-weight: bold;
  opacity: 1;
  top: 20px;
  left: 550px;
  position: fixed;
}

.container span button {
  display: block;
  margin: 0;
  position: fixed;
  font-family: "Anton", sans-serif;
  font-family: "Castoro", serif;
  top: 210px;
  left: 200px;
  font-size: 23px;
  font-weight: bold;
  color: white;
}
