img {
  size: 500px;
  border-radius: 30px;
}

.weather-app {
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

h6 {
  font-family: "Castoro", serif;
  color: blueviolet;
  font-weight: bold;
  text-align: right;
  font-size: 20px;
  right: 250px;
  bottom: 30px;
  position: fixed;
}

form {
  position: fixed;
  top: 20px;
  padding: 20px;
  font-weight: 50px;
}

h1 {
  display: block;
  margin: 0;
  text-align: left;
  color: blueviolet;
  font-family: "Castoro", serif;
  font-weight: bold;
  opacity: 1;
  position: fixed;
  top: 65px;
  padding: 20px;
  font-size: 50px;
  text-shadow: 2px 2px 2px black;
}

h3 {
  display: block;
  margin: 0;
  position: fixed;
  opacity: 1;
  color: white;
  font-size: 120px;
  top: 120px;
  left: 570px;
  text-shadow: 2px 2px 2px black;
}

.humidity {
  display: block;
  text-align: right;
  color: white;
  margin: 20px;
  padding: 80px auto;
  font-size: 45px;
  bottom: 30px;
  font-family: "Castoro", serif;
  font-weight: 900px;
  opacity: 1;
  top: 20px;
  position: fixed;
  left: 800px;
  text-shadow: 2px 2px 2px black;
}

.wind {
  display: block;
  margin: 0;
  text-align: right;
  color: white;
  margin: 20px;
  padding: 80px auto;
  font-size: 45px;
  bottom: 30px;
  font-family: "Castoro", serif;
  font-weight: 900px;
  opacity: 1;
  top: 70px;
  position: fixed;
  left: 800px;
  text-shadow: 2px 2px 2px black;
}

.description {
  display: block;
  margin: 0;
  color: rgb(34, 23, 34);
  text-align: right;
  margin: 20px;
  padding: 80px auto;
  font-size: 55px;
  bottom: 30px;
  font-family: "Castoro", serif;
  font-weight: 900px;
  opacity: 1;
  top: 120px;
  position: fixed;
  left: 700px;
  text-transform: capitalize;
  text-shadow: 2px 2px 2px white;
}

p {
  display: block;
  margin: 0;
  font-family: "Anton", sans-serif;
  font-family: "Castoro", serif;
  font-weight: 900px;
  font-size: 35px;
  text-align: center;
  margin: 20px auto;
  color: white;
  padding: 20px auto;
}

h4 {
  color: black;
  font-family: "Castoro", serif;
  position: fixed;
  left: 160px;
  bottom: 5px;
  padding: 30px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px 2px white;
}

.time {
  display: block;
  margin: 0;
  color: rgb(34, 23, 34);
  font-family: "Castoro", serif;
  position: fixed;
  font-size: 30px;
  opacity: 1;
  top: 150px;
  left: 490px;
  font-weight: bold;
  text-shadow: 2px 2px 2px white;
}

.date {
  display: block;
  margin: 0;
  color: rgb(34, 23, 34);
  font-family: "Castoro", serif;
  position: fixed;
  font-size: 30px;
  opacity: 1;
  top: 150px;
  left: 165px;
  font-weight: bold;
  text-shadow: 2px 2px 2px white;
}

.temperature {
  display: block;
  margin: 0;
  text-align: center;
  color: blueviolet;
  font-size: 90px;
  font-family: "Castoro", serif;
  font-weight: bold;
  opacity: 1;
  top: 10px;
  left: 480px;
  position: fixed;
  text-shadow: 2px 2px 2px black;
}

.units {
  display: block;
  margin: 0;
  text-align: center;
  color: black;
  font-size: 55px;
  font-family: "Castoro", serif;
  font-weight: bold;
  opacity: 1;
  top: 10px;
  left: 565px;
  position: fixed;
  text-shadow: 2px 2px 2px black;
}

.container span button {
  display: block;
  margin: 0;
  position: fixed;
  font-family: "Anton", sans-serif;
  font-family: "Castoro", serif;
  top: 210px;
  left: 200px;
  font-size: 23px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.weather-app .active {
  color: white;
  text-shadow: 2px 2px 2px black;
  cursor: default;
}

.weather-app a {
  color: black;
  text-shadow: 2px 2px 2px black;
  text-decoration: none;
}
